
.container{
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    position: relative;
    background-image: url('/starter-code/assets/bg-main-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        z-index: -1;
        background-position: -50px -350px;
    
}
.main {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__header {
        display: flex;
        flex-direction: column;

        .visually-hidden:not(:focus):not(:active) {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }

        h2 {
            font-size: $text-size-large;
            color: $primary-color-800;
            margin-bottom: 1rem;
            line-height: 1.2;
            padding-top: 2rem;
        }

        p {
            font-size: $text-size-small;
            color: $primary-color-800;
            margin-bottom: 15rem;
            line-height: 1.5;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
       
        border-radius: 1rem;

        &-left {
            margin-bottom: -6rem;
            background-image: url('/starter-code/assets/bg-pattern-2.svg');
            background-position-x: center;
            background-color: $primary-color-800;
            background-repeat: no-repeat;

            img {
                max-width: 275px ;
                width: calc(100% - 35vw);
                margin: 0 auto;
                
                transform: translateY(-30%);
            }
        }

        &-right--wrapper {
            background-color: $secondary-color-400;
            border-radius: 1rem;

            &__container {
                padding: 3rem 2.25rem;
                ;

                &__premium {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    h3 {
                        font-size: 2rem;
                        color: $primary-color-100;

                    }

                    p {
                        font-size: $text-size-small;
                        color: $primary-color-100;
                        line-height: 1.75rem;
                    }

                    &--price {
                        display: flex;
                        flex-direction: row;
                        gap: 1rem;
                        align-items: center;
                        color: $primary-color-100;
                        margin-bottom: 2rem;

                        span {
                            font-size: 4rem;
                            font-weight: 700;

                        }

                        p {
                            font-size: $text-size-medium;

                            line-height: 1.75rem;


                        }
                    }
                }

                &__download {

                    &--btns {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        &-ios {
                            background-color: $primary-color-800;
                            color: $primary-color-100;
                            gap: 1rem;
                            @include transition-ease;

                            &:hover {
                                background-color: $secondary-color-200;
                            }

                        }

                        &-android {
                            background-color: $primary-color-100;
                            color: $primary-color-800;
                            gap: 1rem;
                            @include transition-ease;

                            &:hover {
                                background-color: $secondary-color-600;

                            }
                        }
                    }
                }
            }

        }
    }
}

footer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

.footer__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    a {
        color: $secondary-color-400;
        font-weight: 700;
        text-decoration: none;
        @include transition-ease;

       
    }
    &-copyrights {
        line-height: 1.625rem;

        a{
            &:hover {
                color: $secondary-color-600;
            }
        }
    }

    

    &-socials {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;

        a{
            &:hover {
                filter: $svg-filter;
            }
        }
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: $text-size-small;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
}

.wrapper {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1200px;
    width: 100%;
}