@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');


$primary-color-100:#FCFAF9;
$primary-color-800:#191826;

$secondary-color-200:#66E2DC;
$secondary-color-400:#FA7453;
$secondary-color-600: #FFB964;

$text-size-small: 1rem;
$text-size-medium: 1.25rem;
$text-size-large: 2.5rem;
$text-size-xlarge: 5.5rem;

$font-family: 'IBM Plex Sans', sans-serif;
